.top-right ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
	padding: 10px;
}

.logo {
	display: block;
<<<<<<< HEAD
	text-align: center;
=======
	margin: 0 auto;
>>>>>>> master
}